h5 {
	font-weight: 600;
	font-size: large;
	text-align: center;
	color: #88001b;
	margin-left: 12%;
}

h4 {
	font-weight: 700;
	font-size: large;
}

#info {
	color: #88001b;
	font-weight: 400;
	font-size:small;
}

#right {
	float: right;
	display: inline;
}

#fecha {
	color: #88001b;
	font-size: small;
	text-align: right;
}

#data {
	color: #88001b;
	font-size: small;
}

.invoice-box {
	max-width: 800px;
	margin: auto;
	padding: 30px;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
	color: #555;
}

.invoice-box table {
	width: 100%;
	line-height: inherit;
	text-align: left;
}

.invoice-box table td {
	padding: 5px;
	vertical-align: top;
}

.invoice-box table tr td:nth-child(3) {
	text-align: right;
}

.invoice-box table tr.top table td {
	padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
	font-size: 45px;
	line-height: 45px;
	color: #333;
}

.invoice-box table tr.information table td {
	padding-bottom: 40px;
	
}

.invoice-box table tr.heading td {
	background: #eee;
	border-bottom: 1px solid #88001b;
	font-weight: bold;
	color: #88001b;
}

.invoice-box table tr.details td {
	padding-bottom: 20px;
}

.invoice-box table tr.item td {
	border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
	border-bottom: none;
}

.invoice-box table tr.total td:nth-child(3) {
	border-top: 2px solid #88001b;
	font-weight: bold;
}

@media only screen and (max-width: 600px) {
	.invoice-box table tr.top table td {
		width: 100%;
		display: block;
		text-align: center;
	}

	.invoice-box table tr.information table td {
		width: 100%;
		display: block;
		text-align: center;
	}
}

#printFile {
	margin-left: 18%;
	margin-top: 10%;
}

#back {
	margin-top: 10%;
	margin-left: 2%;
}


@media print {
   #noprint {
       display: none;
    }

    #invoice {
       display: block;
    }
}

button {
	margin-bottom: 5%;
}

#serviciotable table {
	width: 112%;
}

#servicio td:nth-child(1) {
	word-wrap: break-word;
	overflow-wrap: break-word;
	min-width: 140px;
	max-width: 175px;
}